.containerFooter{
    background-color: #8BE310;
    position: absolute;
    text-align: center;
    bottom: 70px;
    width: 100%;
}
.iconFooter{
    font-size: 30px;
    padding-left: 10px;
    padding-top: 12px;
    color: black;
}
.contact{
    font-size: 11px;
    margin-bottom: 12px;
}
@media screen and (min-width:768px)and (max-width:1023px){
    .iconFooter{
        font-size: 50px;
    }
    .contact{
        font-size: 20px;
    }
}
@media screen and (min-width:1024px){
    .containerFooter{
        bottom: 0;
    }
    .iconFooter{
        font-size: 60px;
    }
    .contact{
        font-size: 25px;
    }
}